*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(223, 222, 221);
    overflow-x: hidden;
}
.greet{
    background: rgb(247, 217, 137);
    color: #512663;
    padding: 3px;

}
.navbar{
    position: sticky;
    top: 0%;
    z-index: 1000;
}
.nav-link, .navbar-brand, .navbar-brand:hover{
    color: rgb(245, 209, 110);
}
.nav-link:hover, .log-font:hover{
    color: rgb(245, 228, 196);
    text-decoration: none;
}
.log-font{
    color: rgb(245, 209, 110);
}
.btn{
    color: rgb(247, 217, 137);
    background: #512663;
}
.btn-n:hover{
    background: #472157;
}

.front{
    color: rgb(247, 217, 137);
    height: 85vh;
    opacity: 0.9;
    background: linear-gradient(180deg, rgba(203, 89, 235, 0), rgba(42, 1, 53, 2)), url(pics/pexels-neo-2653362.jpg);
    background-blend-mode: screen;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: circle(180vh at 50% -80vh);

}
.sec-1-row{
    overflow: hidden;
    background: rgb(247, 217, 137);
    background: #fff;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.5);
    box-shadow: -1px -1px 10px 0 rgba(0, 0, 0, 0.5);
}
.sec-1-heading{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 13px;
    background: #472157;
}
.sec-2{
    width: 100vw;
    margin-top: 100px;
    background: #472157;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(247, 217, 137);
    padding: 23px;
    line-height: 30px;
}
.sec-2-box-1{
    width: 70vw;
}
.sec-2-box-3{
    width: 29vw;

    padding: 2px;
    margin: 2px;
    background: rgb(247, 217, 137);
    color: #472157;
    border-radius: 10px;
}
/* .carousel-inner{
    width: 95vw;
    height: 400px;
    border: 14px solid rgb(247, 217, 137);

}
.carousel-item img{
    min-height: 400px;
} */
.card-y, .card-v{
    width: 40vh;
    padding: 12px;
    transition: 500ms;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.5);
    box-shadow: -1px -1px 10px 0 rgba(0, 0, 0, 0.5);
}
.card-y{
    background: rgb(247, 217, 137);
    color: #472157;
}
.card-v{
    background: #472157;
    color: rgb(247, 217, 137);
}
.btn-c{
    background: rgb(247, 217, 137);
    color: #472157;
    font-weight: 600;
}
.card-v:hover, .card-y:hover{
    transform: scale(1.1);
    box-shadow: 4px 4px 15px 0 rgba(0, 0, 0, 0.5);
    box-shadow: -1px -1px 8px 0 rgba(0, 0, 0, 0.5);
}


    